<app-navigation-bar></app-navigation-bar>

<mat-grid-list cols="2" class="grid-content">

    <!-- ML Logo -->
    <mat-grid-tile class="logo-content">
        <img class="image" src="https://d33wubrfki0l68.cloudfront.net/09bb9e6f9a3b78b93d963887e4d709e7c97da0bc/11cbf/img/ml-logo.png" alt="mlhuillier-logo">
    </mat-grid-tile>

    <!-- Questionnaire Form -->
    <mat-grid-tile class="form-content">
        <div class="mat-elevation-z8">
            <mat-toolbar color="warn">
                <span [style.color]="!textColor ? 'white' : 'red'">First Questionnaire &nbsp; |</span>
                <span [style.color]="textColor ? 'white' : 'red'">&nbsp; Second Questionnaire</span>
            </mat-toolbar>

            <div [hidden]="isHide" >
                <form [formGroup]="feedbackQuestionLists" style="width: auto;" class="questionForm">
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span class="span">Tell Us What You Think!</span>
                        </mat-toolbar-row>
                    </mat-toolbar><br>

                    <h4 style="text-align: center;">
                        We would like your feedback to improve our services. <br>
                        <h5>Help us in answering the following questions.</h5>
                    </h4><br>

                    <div class="md-form">
                      <!-- input name  -->
                      <!-- <form class="example-form"> -->
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
                          <mat-error *ngIf="feedbackQuestionLists.hasError('email') && !feedbackQuestionLists.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="feedbackQuestionLists.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      <!-- </form> -->
                      <br>
                        <label for="question1">
                                    What should I stop doing?
                                    <mat-error *ngIf="feedbackQuestionLists?.controls?.question1?.hasError('required')">
                                        <i style="font-family: monospace    ; font-size: smaller;">*Required</i>
                                    </mat-error>
                                </label><br>
                        <textarea style="overflow:hidden" matInput formControlName="question1" placeholder="I should stop..." cols="80" rows="5" required></textarea>
                    </div>

                    <div class="md-form">
                        <label for="question2">
                                    What should I continue doing?
                                    <mat-error *ngIf="feedbackQuestionLists?.controls?.question2?.hasError('required')">
                                        <i style="font-family: monospace    ; font-size: smaller;">*Required</i>
                                    </mat-error>
                                </label><br>
                        <textarea style="overflow:hidden" matInput formControlName="question2" placeholder="I should continue..." cols="80" rows="5" required></textarea>
                    </div>

                    <div class="md-form">
                        <label for="question3">
                                    What should I start doing?
                                    <mat-error *ngIf="feedbackQuestionLists?.controls?.question3?.hasError('required')">
                                        <i style="font-family: monospace    ; font-size: smaller;">*Required</i>
                                    </mat-error>
                                </label><br>
                        <textarea style="overflow:hidden" matInput formControlName="question3" placeholder="I should start..." cols="80" rows="5" required></textarea>
                    </div>

                    <button mat-raised-button color="primary" type="submit" (click)="nextBtn()" [disabled]="!feedbackQuestionLists.valid">NEXT</button>
                </form>
            </div>

            <!-- Second Form -->
            <div fxLayoutAlign="center center" fxFlexFill class="main-div">
                <div [hidden]="!isHide" style="margin: 5%">
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span class="span">Rate Our Work</span>
                        </mat-toolbar-row>
                    </mat-toolbar><br>

                    <h4 style="text-align: center;">Evaluate the following categories.</h4>

                    <table class="table">
                        <tr>
                            <td><label for="category">Performance Category</label></td>
                            <td><label for="outstanding">Outstanding</label></td>
                            <td><label for="good">Good</label></td>
                            <td><label for="average">Average</label></td>
                            <td><label for="fair">Fair</label></td>
                            <td><label for="poor">Poor</label></td>
                        </tr>

                        <tr>
                            <td><label for="category">Category One</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryOne" required value="Outstanding" id="outstanding" formControlName="categoryOne" />
                                    <input type="radio" name="categoryOne" value="Good" #good formControlName="categoryOne" />
                                    <input type="radio" name="categoryOne" value="Average" #average formControlName="categoryOne" />
                                    <input type="radio" name="categoryOne" value="Fair" #fair formControlName="categoryOne" />
                                    <input type="radio" name="categoryOne" value="Poor" #poor formControlName="categoryOne" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Two</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryTwo" required value="Outstanding" #outstanding formControlName="categoryTwo" />
                                    <input type="radio" name="categoryTwo" value="Good" #good formControlName="categoryTwo" />
                                    <input type="radio" name="categoryTwo" value="Average" #average formControlName="categoryTwo" />
                                    <input type="radio" name="categoryTwo" value="Fair" #fair formControlName="categoryTwo" />
                                    <input type="radio" name="categoryTwo" value="Poor" #poor formControlName="categoryTwo" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Three</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryThree" required value="Outstanding" #outstanding formControlName="categoryThree" />
                                    <input type="radio" name="categoryThree" value="Good" #good formControlName="categoryThree" />
                                    <input type="radio" name="categoryThree" value="Average" #average formControlName="categoryThree" />
                                    <input type="radio" name="categoryThree" value="Fair" #fair formControlName="categoryThree" />
                                    <input type="radio" name="categoryThree" value="Poor" #poor formControlName="categoryThree" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Four</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryFour" required value="Outstanding" #outstanding formControlName="categoryFour" />
                                    <input type="radio" name="categoryFour" value="Good" #good formControlName="categoryFour" />
                                    <input type="radio" name="categoryFour" value="Average" #average formControlName="categoryFour" />
                                    <input type="radio" name="categoryFour" value="Fair" #fair formControlName="categoryFour" />
                                    <input type="radio" name="categoryFour" value="Poor" #poor formControlName="categoryFour" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Five</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryFive" required value="Outstanding" #outstanding formControlName="categoryFive" />
                                    <input type="radio" name="categoryFive" value="Good" #good formControlName="categoryFive" />
                                    <input type="radio" name="categoryFive" value="Average" #average formControlName="categoryFive" />
                                    <input type="radio" name="categoryFive" value="Fair" #fair formControlName="categoryFive" />
                                    <input type="radio" name="categoryFive" value="Poor" #poor formControlName="categoryFive" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Six</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categorySix" required value="Outstanding" #outstanding formControlName="categorySix" />
                                    <input type="radio" name="categorySix" value="Good" #good formControlName="categorySix" />
                                    <input type="radio" name="categorySix" value="Average" #average formControlName="categorySix" />
                                    <input type="radio" name="categorySix" value="Fair" #fair formControlName="categorySix" />
                                    <input type="radio" name="categorySix" value="Poor" #poor formControlName="categorySix" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Seven</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categorySeven" required value="Outstanding" #outstanding formControlName="categorySeven" />
                                    <input type="radio" name="categorySeven" value="Good" #good formControlName="categorySeven" />
                                    <input type="radio" name="categorySeven" value="Average" #average formControlName="categorySeven" />
                                    <input type="radio" name="categorySeven" value="Fair" #fair formControlName="categorySeven" />
                                    <input type="radio" name="categorySeven" value="Poor" #poor formControlName="categorySeven" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Eight</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryEight" required value="Outstanding" #outstanding formControlName="categoryEight" />
                                    <input type="radio" name="categoryEight" value="Good" #good formControlName="categoryEight" />
                                    <input type="radio" name="categoryEight" value="Average" #average formControlName="categoryEight" />
                                    <input type="radio" name="categoryEight" value="Fair" #fair formControlName="categoryEight" />
                                    <input type="radio" name="categoryEight" value="Poor" #poor formControlName="categoryEight" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Nine</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryNine" required value="Outstanding" #outstanding formControlName="categoryNine" />
                                    <input type="radio" name="categoryNine" value="Good" #good formControlName="categoryNine" />
                                    <input type="radio" name="categoryNine" value="Average" #average formControlName="categoryNine" />
                                    <input type="radio" name="categoryNine" value="Fair" #fair formControlName="categoryNine" />
                                    <input type="radio" name="categoryNine" value="Poor" #poor formControlName="categoryNine" />
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="category">Category Ten</label></td>
                            <td>
                                <form [formGroup]="feedbackRateScale" id="feedbackRateScale">
                                    <input type="radio" name="categoryTen" required value="Outstanding" #outstanding formControlName="categoryTen" />
                                    <input type="radio" name="categoryTen" value="Good" #good formControlName="categoryTen" />
                                    <input type="radio" name="categoryTen" value="Average" #average formControlName="categoryTen" />
                                    <input type="radio" name="categoryTen" value="Fair" #fair formControlName="categoryTen" />
                                    <input type="radio" name="categoryTen" value="Poor" #poor formControlName="categoryTen" />
                                </form>
                            </td>
                        </tr>
                    </table><br>

                    <!-- <p>Form value: {{feedbackRateScale.value | json}}; Valid: {{feedbackRateScale.valid}}</p> -->

                    <button mat-raised-button color="primary" type="submit" (click)="submitBtn()" [disabled]="!feedbackRateScale.valid">SUBMIT</button>
                    <button mat-raised-button color="warn" type="submit" (click)="nextBtn()">PREVIOUS</button>
                </div>
            </div>
        </div>

    </mat-grid-tile>
</mat-grid-list>
