<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div class="logo-nav">
            <!-- <img src="./assets/ml-logo.png"> -->
            <mat-toolbar>ml-project</mat-toolbar>
            <mat-icon class="userIcon">account_circle</mat-icon>
        </div>

        <div>
            <mat-nav-list>
                <a mat-list-item class="nav-item" routerLink='email-request' routerLinkActive="active">
                    <mat-icon>email</mat-icon>&nbsp;Email Request</a>
                <a mat-list-item class="nav-item" routerLink='feedback-form' routerLinkActive="active">
                    <!-- <a mat-list-item id="feedbackFormNav" routerLink='feedback-form' routerLinkActive="active" (click)="activeProject(i)" [ngStyle]="{'background-color': activeProjectIndex === i ? 'green' : 'white' }"> -->
                    <mat-icon>feedback</mat-icon>&nbsp;Feedback Form</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>MLHUILLIER PROJECT</span>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>