.sidenav {
    width: 200px;
    background-color: #f44336;
    border: none;
}


/* .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
} */

mat-toolbar {
    margin-top: 50px;
    /* position: right; */
}

a.nav-item {
    /* margin-left: 5%; */
    /* margin: 5%; */
    color: white;
}

a.nav-item.active {
    background: white;
    color: black;
    /* border-radius: 15px; */
    /* margin-left: 5%; */
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}


/* .icon-material {
    position: absolute;
    text-align: center;
    z-index: 1;
    display: flex;
} */


/* hr {
    position: relative;
} */

img {
    width: 100px;
    /* height: 100px; */
    position: absolute;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* margin-top: auto; */
    /* display: flex; */
    /* justify-content: center; */
}