.sidenav {
    width: 150px;
    background-color: red;
    border: none;
}

mat-toolbar {
    margin-top: 60px;
}


a.nav-item {
    color: white;
    font-size: smaller;
}

a.nav-item.active {
    background: white;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    font-size: small ;
}




