.grid-container {
  margin: 20px;
}

.main-div{
  box-shadow: 3px 3px 3px 5px lightgrey;
  padding: 10px;
  margin: 250px;
  margin-top: 30px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  text-align:start;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.text-area{
  height: 50px;
  width: 800px;
  border: none;
  resize: none;

}
.text-area:focus{
  outline: none;
}

.div-content{
  margin: 10px;
}

.btnReply{
  margin: 10px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}

.btnSend{
  margin: 10px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}

.btnCancel{
  margin: 10px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}
