<app-navbar></app-navbar>
<div class="main-div">
  <app-email-requested-page></app-email-requested-page>

  <button class="btnReply" (click)="reply()" [hidden]="!hidden"  mat-icon-button matPreffix>
    <mat-icon>reply</mat-icon>Reply</button>

  <!-- send message field -->
  <div [hidden]="hidden">
    <mat-card-header>To: name@email.mlhuillier.com</mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <textarea matInput class="text-area"></textarea>
      <button (click)="cancel()">Cancel</button>
      <button (click)="send()">Send</button>
    </mat-card-content>
  </div>
</div>
