<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Outstanding</th>
                        <th scope="col">Good</th>
                        <th scope="col">Average</th>
                        <th scope="col">Poor</th>
                        <th scope="col">Unsatisfactory</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <!-- <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">2</label>
                            </div>
                        </td>
                        <td><input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        </td>
                        <td>Cristina</td>
                        <td>1.434</td>
                        <td>3.417</td> -->
                    </tr>

                    <tr>
                        <!-- <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                <label class="custom-control-label" for="customCheck1">1</label>
                            </div>
                        </td> -->
                        <td>Bootstrap 4 CDN and Starter Template</td>
                        <td>Cristina</td>
                        <td>913</td>
                        <td>2.846</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>