.main-div{
  padding: 0px;
}

.search-field{
  padding: 60px 3rem;
}

.full-width-table {
  width: 100%;
}

th{
  background-color: red;
  color: white;
}

#btnsend-request{
  color: white;
  margin: 10px;
  float: right;
}
