form {
    max-width: 100%;
}

.span {
    margin: auto;
    color: red;
}

textarea {
    border-radius: 4px;
    width: fit-content;
}

label {
    display: block;
}

input.ng-invalid:focus {
    outline-color: red;
}

button {
    float: right;
    margin-right: 10px;
}