.main-content{
  padding: 3px;
}

/* .div-content{
  width: 500px;
} */

.mat-item{
  padding: 3px;
}

.btnCancel{
  margin: 10px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}

.text-area:focus{
  outline: none;
}

.btnCreate{
  margin: 10px;
}

.text-area {
  height: 50px;
  width: 800px;
  border: none;
  resize: none;
}
