<mat-drawer-container class="nav-container" color="warn">
    <mat-drawer-content>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
      <span>Log out</span>
    </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="dropdown" justify="flex-end">
    <mat-icon justify="flex-end">more_vert</mat-icon>
  </button>
        <span><img src="https://play-lh.googleusercontent.com/6XVULhdIqrVo4pFtQUZWIXhVnNnY7eK-dEMmL1G83gEG--HmdIN62KTHvh6Y7dXS3hI" alt="mlhuillier_logo" height="55px"></span></mat-drawer-content>
</mat-drawer-container>
