.main-div mat-card{
    padding: 0px;
}

.main-div{
  padding: 60px 3rem;
}

.spinner{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar{
  position: relative;
  background-color: red;
  color: white;
  padding: 20px;

}

.log-in-form{
    padding: 20px;
}

#btnlogin{
    background-color: red;
    color: white;
}


