.main-div{
    padding: 60px 3rem;
}

.toolbar{
  background-color: red;
  color: white;
  padding: 0%;

}

.login-form{
    padding: 20px;
}

#btnlogin{
    background-color: red;
    color: white;
}


