<!-- spinner  -->
<div class="spinner" *ngIf="!load">
  <mat-spinner color="warn"></mat-spinner>
</div>


<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar class="toolbar">
      <img
        src="https://static.wixstatic.com/media/1e3920_14bec40ae7c84f43983e962a7a9660e3.png/v1/fill/w_159,h_139,al_c,q_85,usm_0.66_1.00_0.01/1e3920_14bec40ae7c84f43983e962a7a9660e3.webp"
        alt="mlhuillier-log"
        height="50px"
      />
      Log In
    </mat-toolbar>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="log-in-form"
      (ngSubmit)="loginForm.valid && login()"
      [formGroup]="loginForm"
    >
      <!-- email field -->
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
        autocomplete="on"
          matInput
          type="email"
          formControlName="email"
          name="email"
          placeholder="Email"
          matInput
          ngForm="email"
          required
        />

        <mat-error *ngIf="loginForm?.controls?.email?.hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="loginForm.errors?.required">
          Required
        </mat-error>
      </mat-form-field>
      <!-- password field -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
        autocomplete="on"
          matInput
          placeholder="Password"
          formControlName="password"
          matInput
          [type]="hidden ? 'password' : 'text'"
          required
        />
        <button mat-icon-button matSuffix (click)="hide()">
          <mat-icon>{{ hidden ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <mat-error *ngIf="loginForm?.controls?.password?.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="submit"
        (click)="login()"
        [disabled]="!loginForm.valid"
      >
        Log in
      </button>
    </form>
  </mat-card>
</div>

