.main-div mat-card{
    padding: 0px;
}

.main-div{
  padding: 60px 3rem;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar{
  position: relative;
  background-color: red;
  color: white;
  padding: 20px;

}

.log-in-form{
    padding: 20px;
}

#btnlogin{
    background-color: red;
    color: white;
}


